<div class="main">
  <div class="change-password-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="password-reset-form">
      <div class="fields">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" placeholder="Enter your email" required>
      </div>
  
      <div class="fields">
        <label for="oldPassword">Old Password</label>
        <input id="oldPassword" [type]="showOldPassword ? 'text' : 'password'" formControlName="oldPassword"
          placeholder="Enter your old password" required>
        <img type="button" [src]="visibilityOld" alt="toggle" (click)="toggleOldPasswordVisibility()"
          class="show-password-btn">
      </div>
  
      <div class="fields">
        <label for="newPassword">New Password</label>
        <input id="newPassword" [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword"
          placeholder="Enter your new password" required>
        <img type="button" [src]="visibilityNew" alt="toggle" (click)="toggleNewPasswordVisibility()"
          class="show-password-btn">
  
        <div *ngIf="changePasswordForm.controls['password'].invalid && changePasswordForm.controls['password'].touched"
          class="warning-msg">
          <small *ngIf="changePasswordForm.controls['password'].errors?.['minlength']">*Password must be at least 8
            characters long</small>
          <small *ngIf="changePasswordForm.controls['password'].errors?.['pattern']">*Password must contain uppercase,
            lowercase, number, and special character</small>
          <small *ngIf="changePasswordForm.controls['password'].errors?.['required']">*Password is required</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="!changePasswordForm.valid">Change Password</button>
    </form>
  </div>
  
</div>

<app-footer></app-footer>