@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
}
.warning-msg{
  transition: 0.2s ease-in;
  color: red;
  margin-bottom: 5px;
}
.required-line{
  position: absolute;
  font-size: x-small;
  color: #555;
  bottom: 120px;
  left: 770px;
}

.registration-wrapper {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0px 60px;
} 

.logo-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
}

.logo {
  max-width: 100%;
  height: auto;
}

.form-section {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.registration-form {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.registration-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: 500;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0261c7;
}

.login-link {
  text-align: center;
  margin-top: 15px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .registration-wrapper {
    flex-direction: column;
  }

  .logo-section,
  .form-section {
    flex: none;
    width: 100%;
    padding: 20px;
  }

  .form-section {
    padding-top: 0;
  }

  .registration-form {
    max-width: 100%;
  }
}
