.aboutus-container {
    max-width: 800px;
    margin: 150px auto;
    padding: 20px;
    text-align: center;
    /* background-color: #f9f9f9; */
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .image-section {
    margin-bottom: 20px;
  }
  
  .brand-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  }
  
  .description-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .description-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
  }
  