<app-header></app-header>
<div class="aboutus-container">
    <div class="image-section">
      <img src="https://i.imgur.com/z5hasrw.png" alt="Brand Image" class="brand-image">
    </div>
    <div class="description-section">
      <h2>About Our Brand</h2>
      <p>
        Our brand is dedicated to providing the best quality products to our customers.
        We believe in sustainability, innovation, and excellence in everything we do.
        Our journey began with a vision to redefine the market with unique offerings,
        and today, we are proud to be one of the leading brands in the industry.
      </p>
    </div>
  </div>

  <app-footer></app-footer>
  